<div class="row">
  <div class="col card bg-dark m-2" (click)="selectCryptocurrency(cryptoCurrencyArr[0])">
      <div class="row" *ngIf="crypto | async as cr" (click) = "selectCrypt(cr.BTC)">
        <div class="col-5">
          <div>
              <img src="../../../assets/img/BTC.png" class="card-img-top mb-1" alt="...">
               <h4 class="text-light text-center">
                {{cryptoCurrencyArr[0]}}
              </h4>
            </div>
          </div>
          <div class="col"  >
            <ul class="list-group list-group-flush" *ngIf="crypto">
              <li class="list-group-item"><span>USD: </span>{{(crypto | async).BTC?.USD}}</li>
              <li class="list-group-item"><span>UAH: </span>{{(crypto | async).BTC?.UAH}}</li>
              <li class="list-group-item"><span>RUB: </span>{{(crypto | async).BTC?.RUB}}</li>
            </ul>
        </div>
      </div>
    </div>
<div class="col card bg-dark m-2" (click)="selectCryptocurrency(cryptoCurrencyArr[1])">
  <div class="row" *ngIf="crypto | async as cr" (click) = "selectCrypt(cr.ETH)">
    <div class="col-4">
      <div>
          <img src="../../../assets/img/ETH.png" class="card-img-top mb-1" alt="...">
          <h4 class="text-light text-center">
            {{cryptoCurrencyArr[1]}}
          </h4>
        </div>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush" *ngIf="crypto" >
          <li class="list-group-item"><span>USD: </span>{{(crypto | async).ETH?.USD}}</li>
          <li class="list-group-item"><span>UAH: </span>{{(crypto | async).ETH?.UAH}}</li>
          <li class="list-group-item"><span>RUB: </span>{{(crypto | async).ETH?.RUB}}</li>
        </ul>
    </div>
  </div>
</div>
<div class="col card bg-dark m-2" (click)="selectCryptocurrency(cryptoCurrencyArr[2])">
    <div class="row" *ngIf="crypto | async as cr" (click)="selectCrypt(cr.XRP)">
      <div class="col-5">
        <div >
            <img src="../../../assets/img/XRP.png" class="card-img-top mb-1" alt="..." >
            <h4 class="text-light text-center">
              {{cryptoCurrencyArr[2]}}
            </h4>
          </div>
        </div>
        <div class="col" >
          <ul class="list-group list-group-flush" *ngIf="crypto" >
            <li class="list-group-item"><span>USD: </span>{{(crypto | async).XRP?.USD}}</li>
            <li class="list-group-item"><span>UAH: </span>{{(crypto | async).XRP?.UAH}}</li>
            <li class="list-group-item"><span>RUB: </span>{{(crypto | async).XRP?.RUB}}</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<h3 class="text-center ">Selected coin: {{cryptocurrencyName}}</h3>

<div class="row justify-content-center">
  <div class="col-6 ">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="Volume">Volume</label>
        <input [ngClass]="{ 'not-valid': countIsNotValid }" formControlName="count"
          type="text" class="form-control">
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center ">
  <div class="col-2 text-center mb-3" *ngFor="let currency of currencyArr">
    <button type="button" (click)="selectCurrency(currency)" class="btn btn-dark">{{currency}}</button>
  </div>
</div>

<h1 class="text-center" *ngIf="this?.form.controls.count.value">{{this?.form.controls.count.value}} {{cryptocurrencyName}} will be {{result}} in {{currency}}</h1>
